* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-size: 62.5%; */
}

body{
    font-size: 1.5rem;
 
}

/* #quote {
    margin-bottom: 20px;
} */

.generator {
    height: 15vh;
    width: 70vw;
}

#random-btn:hover {
    box-shadow: 0 0.4rem 1.4rem;
    transform: scale(1.03);
}

#random-movie {
    margin-top: 20px;
}

#pokemon-sprite{
    padding-top: 2em;
}

#form {
    padding-top: 1em;
    padding-bottom: 4em;
}
/* #random-btn {
    width: 40%;
    height: 2.4rem;
} */